{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link rel='stylesheet' href='{% static "css/bootstrap.css" %}'>

    <!-- Custom CSS -->
    <link rel='stylesheet' href='{% static "css/shop-homepage.css" %}'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><button class='btn btn-default'>Home</button></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                {% if not request.get_full_path == '/' %}    
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Категории <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% for category in categories %}
                            <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}               
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'cart' %}">Корзина<span class='badge' id='cart_count'>{{ cart.items.count }}</span></a></li>                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
    {% block content %}
        <div class="row">

            <div class="col-md-3">
                <p class="lead">Shop Name</p>
                <div class="list-group">
                    {% for category in categories %}
                    <a href="{{ category.get_absolute_url }}" class="list-group-item">{{ category.name }}</a>                    
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-9">

                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                {% for product in products %}
                                    
                                        <div class="item {% if forloop.first %} active {% endif %}"﻿>
                                            <img class="slide-image" src="{{ product.image.url }}" alt="" style='padding-left: 200px; height: 300px;'>
                                            <br>
                                            <p class='text-center'><a href='{{ product.get_absolute_url }}'><button class='btn btn-primary'>{{ product.title }}</button></a></p>
                                        </div>
                                                                            
                                {% endfor %}
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev" style='background: transparent;'>
                                <span class="glyphicon glyphicon-chevron-left" style='color:black;'></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next" style='background: transparent;'>
                                <span class="glyphicon glyphicon-chevron-right" style='color:black;'></span>
                            </a>
                        </div>
                    </div>

                </div>
                <br>
                <div class="row">
                    {% for product in products %}
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="{{ product.image.url }}" alt="" style='width: 100%;'>
                            <div class="caption">
                                <h4 class="pull-right">{{ product.price }} руб.</h4>
                                <h5><strong><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></strong>
                                </h5>
                                <p>{{ product.description }}</p>
                            </div>                            
                        </div>
                    </div>
                    {% endfor %}
                                    
                </div>

            </div>

        </div>
        {% endblock content %}
    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src='{% static "js/jquery.js" %}'></script>

    <!-- Bootstrap Core JavaScript -->    
    <script src='{% static "js/bootstrap.js" %}'></script>
    {% block jquery %}

    {% endblock jquery %}
</body>

</html>
